* {
  background-color: darkgrey;
  color: black;
  /* border: 1px solid rgba(94, 85, 85, 0.2); */
}

body {
  background-color: darkgrey;
  color: black;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.object-display {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.object-card {
  margin: 4%;
  border: dotted black 1px;
  max-width: 30%;
  max-height: 20%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(1px 3px 5px hsl(0, 0%, 53%));
}

.object-card img {
  max-width: 100%;
}